* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Nav  styling*/

.nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-left: 2rem;
  height: 11vh;
  box-shadow: 0px 2.98px 7.6px rgb(219, 216, 216);
  position: fixed;
  width: 100%;
  top: 0;
}

.nav--logo {
  max-width: 80px;
}
.nav--logo--text {
  height: 100px;
  padding-top: 8px;
  font-size: 1.5rem;
  background-image: linear-gradient(
    60deg,
    rgb(6, 139, 139),
    rgba(82, 190, 160, 1)
  );
  background-clip: text;
  color: transparent;
  margin-left: -5px;
  margin-top: 15px;
}

/* Styling Cover */

.cover {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.cover--image {
  padding: 40px;
  align-content: center;
  align-items: center;
  align-self: center;
  height: 80vh;
  width: 80vw;
}
.cover--heading {
  padding-left: 50px;
}
.cover--logo--para {
  padding-left: 50px;
  margin-top: -2px;
}

/* Styling Card */

.card {
  box-shadow: 0px 2.98px 7.6px rgb(219, 216, 216);
  margin-top: 10px;
  margin-left: 50px;
  width: 250px;
  height: 350px;
  border-radius: 10px;
}
.card--image {
  justify-self: center;
  width: 100%;
  width: 250px;
  height: 238px;
  border-radius: 15px;
}
.card-stats {
  display: flex;
}
.star--image {
  width: 40px;
  padding-left: 20px;
  margin-top: 8px;
}
.rating--number {
  margin-top: 10px;
  display: inline-block;
  padding-left: 5px;
  color: #918e9b;
}
.card--country {
  padding-left: 10px;
  margin-top: 10px;
  color: #918e9b;
}
.card-para {
  padding-left: 20px;
}
.bold {
  font-weight: bold;
}
.rating--ob {
  padding-left: 10px;
  margin-top: 10px;
  color: #918e9b;
}

.footer {
  margin-top: 40px;
  background-color: rgba(30, 30, 30, 1);
  height: 100px;
}
